<div id="<%= dom_id booking %>">
  <p>
    <strong>Trainer:</strong>
    <%= booking.trainer.first_name %> <%= booking.trainer.last_name %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= booking.started_at.strftime("%m/%d/%Y - %I:%M %p") %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= booking.ended_at.strftime("%m/%d/%Y - %I:%M %p") %>
  </p>

</div>
