<%= form_with(model: booking, id: "booking-form") do |form| %>
  <%= form.hidden_field :client_id, value: current_user.id %>
  <%= form.hidden_field :ended_at, value: @date %>
  <div class="form-group">
    <%= form.collection_select :trainer_id, @trainers_array, :id, :first_name, { prompt: "Select Trainer" }, { class: "form-control", id: "trainer-select" } %>
  </div>
  <div class="form-group mt-3">
    <%= form.select :started_at, options_for_select([]), { prompt: "Select Start Time" }, { class: "form-control", id: "start-time-select" } %>
  </div>
  <div class="form-group mt-3">
    <%= form.submit "Submit", class: "btn btn-success d-block mx-auto" %>
  </div>
<% end %>

<script>
  var hourlySlots = <%= raw @hourly_slots.to_json %>;
  var selectedDate = <%= raw @date.to_json %>

  function populateTimeSlots() {
    const trainerSelect = document.getElementById("trainer-select").value;
    const timeSlots = document.getElementById("start-time-select");


    const filteredData = hourlySlots.filter(function(hash) {
      return hash.trainer_id.toString() === trainerSelect;
    })

    const options = filteredData.map(function(hash) {
        const startedAt = new Date(hash.started_at);
        const hoursUTC = startedAt.getUTCHours();
        const minutesUTC = startedAt.getUTCMinutes();
        const period = hoursUTC < 12 ? 'AM' : 'PM';
        const formattedTime = `${(hoursUTC % 12 || 12).toString().padStart(2, '0')} : ${minutesUTC.toString().padStart(2, '0')} ${period}`;
        return {
          value: startedAt.toISOString(),
          text: formattedTime
        };
    })

    timeSlots.innerHTML = "";

    const prompt = new Option("Select Start Time", "");
    timeSlots.add(prompt);

    options.forEach(optionData => {
      const option = new Option(optionData.text, optionData.value);
      timeSlots.add(option);
    });
  }

  document.getElementById("trainer-select").addEventListener("change", populateTimeSlots);
  populateTimeSlots();
</script>
