<div class="container mt-5 text-center">
  <h1>Calendar: </h1>
  <%= month_calendar events: @bookings, attribute: :started_at do |date, bookings| %>
    <div class="day">
      <% if date >= Date.today %>
        <%= link_to date.day, new_booking_path(date: date), class: "date-link" %>
      <% else %>
        <span class="date-non-link"><%= date.day %></span>
      <% end %>
      <% bookings.each do |booking| %>
        <div class="card mt-2">
          <div class="card-body">
            <% if current_user.role == "clients" %>
              <h5 class="card-title">
                <p>Personal Training</p>
              </h5>
              <h6 class="card-subtitle mb-2">
                with <%= booking.trainer.first_name %>
              </h6>
            <% else %>
              <h5 class="card-title">
                <p>Client Session</p>
              </h5>
              <h6>
                with <%= booking.client.first_name %>
              </h6>
            <% end %>
            <p class="card-text">Start time: <%= booking.started_at.strftime("%I:%M %p") %></p>
            <p class="card-text">End time: <%= booking.ended_at.strftime("%I:%M %p") %></p>
            <div>
              <div class="d-inline-block mr-custom">
                <%= link_to edit_booking_path(booking, date: date) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
              </div>
              <div class="d-inline-block">
                <%= button_to booking, method: :delete, class: "btn btn-link p-0 border-0 text-danger" do %>
                  <i class="fa-solid fa-trash-can"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
